/* common csss start*/
*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* common csss ends */

/* banner css custom */
#banner .carousel-item {
    position: relative !important;
}
#banner .carousel-item .img{
    width: 100%;
    height: 100%;
}

#banner .carousel-item .overlay {
    width: 100% ;
    height: 100% ;
    background: rgba(0,0,0,0.5) ;
    position: absolute !important;
    top: 0 ;
    left: 0 ;
}
/* banner button customization  */
#banner .btncus{
    background: #289BDE;
    color: #ffff;
}

/* course section css */
#course .see{
    background: #289BDE;
    color: #ffff;
}
.btn-position{
text-align: center;
}



 /* elearn section customization */
 #elarn{
    background: #F4FAFD;
 }
.read{
    background: #289BDE;
    color: #ffff;
}

.img-div {
    width: 100%;
    height: 100%;
}
.img-div img {
    width: 100%;
    height: 100%;
}
/* registration part starts here */
#register{
  background: #289BDE;
}

/* responsive customize */
@media only screen and (max-width: 576px)  {
   #banner .carousel-item .overlay h1{
      font-size:12px !important;
      font-weight: 500 !important;
      margin-top: 0px !important;
    }
    #banner .carousel-item .overlay p{
        font-size:9px !important;
        font-weight: 600 !important;
        margin-bottom: 10px !important;
      }
      #banner .carousel-item .overlay .btncus{
        width: 130px !important;
      
        font-size: 14px !important;
        font-weight: 400 !important;
      }
      #course .title h1{
        font-size: 20px !important ;
      }
      #course .title p{
        font-size: 14px !important;
      }
      #register .join {
     
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #register .join .pp{
        width: 277px !important;
      }
}




@media only screen and (min-width: 577px) and (max-width:768px)  {
    #banner .carousel-item .overlay h1 {
        font-size: 12px !important;
        font-weight: 500 !important;
        margin-top: 0px !important;
    }
     #banner .carousel-item .overlay p{
         font-size:9px !important;
         font-weight: 300 !important;

         width: 25% !important;
      
       }
       #banner .carousel-item .overlay .btncus {
        width: 82px !important;
        font-size: 8px !important;
        font-weight: 300 !important;
    }
    #course .title h1{
        font-size: 26px !important ;
      }
      #course .title p{
        font-size: 20px !important;
      }
      #register .join {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #register .join .pp{
        width: 277px !important;
      }
     
 }
 @media only screen and (min-width: 769px) and (max-width:992px)  {
    #banner .carousel-item .overlay h1 {
        font-size: 20px !important;
        font-weight: 600 !important;
        margin-top: 0px !important;
    }
     #banner .carousel-item .overlay p{
         font-size:18px !important;
         font-weight: 400 !important;

       
      
       }
       #banner .carousel-item .overlay .btncus {
        width: 140px !important;
        font-size: 18px !important;
        font-weight: 500 !important;
    }

    #course .title h1{
        font-size: 30pxpx !important ;
      }
      #course .title p{
        font-size: 25px !important;
      }
      #register .join {
        justify-content: center;
        align-items: center;
      }
 }

